<div class='color-section-wrapper gray-back' id='subscribe'>
  <div class='background-text'><span>subscribe<span></div>
  <div class='section'>
    <div class='heading'>Lorem ipsum dolor sit amet, consectetur</div>
    <div class='form-wrapper'>
      <form>
        <input type='text' placeholder="First Name"/>
        <input type='text' placeholder="Last Name"/>
        <input type='text' placeholder="Email Address"/>
        <button class='button peach-btn'>Sign Up</button>
      </form>
    </div>
  </div>
</div>
