<div class='section' id='connected'>
  <div class='title'>STAY CONNECTED</div>
  <div class='image-strip-wrapper'>
    <a target='_blank' rel="noreferrer" class='image-back blue' href='https://www.instagram.com/official.dyegram/'></a>
    <a target='_blank' rel="noreferrer" class='image-back red' href='https://www.instagram.com/official.dyegram/'></a>
    <a target='_blank' rel="noreferrer" class='image-back pink' href='https://www.instagram.com/official.dyegram/'></a>
    <a target='_blank' rel="noreferrer" class='image-back yellow' href='https://www.instagram.com/official.dyegram/'></a>
    <a target='_blank' rel="noreferrer" class='image-back red' href='https://www.instagram.com/official.dyegram/'></a>
  </div>
</div>
