<!-- 4 panels that are aspect ratio portrait mode (4:5) -->
<!-- rosources: fourpanellarge.sass -->
<div class='four-panel section' id='top_images'>
  <div class='panel-wrapper'>
    <div class='panel' style='background-image: url("./resources/images/img1.jpg")'></div>
    <div class='panel ' style='background-image: url("./resources/images/img2.jpg")'></div>
    <div class='panel ' style='background-image: url("./resources/images/img3.jpg")'></div>
    <div class='panel' style='background-image: url("./resources/images/img4.jpg")'></div>
  </div>
</div>
