---
layout: default
permalink: /
data_file: index
---

{% include page_index_top_images.html %}
<!--  -->
<div class='section' id='quick-message'>
  <div class='lrg-text'>All Things Custom</div>
</div>
<!--  -->
{% include page_index_explore.html %}
<!--  -->
<div class='section'>
  bonjour
</div>
<!--  -->
<div class='color-section-wrapper peach-back' id='other-links'>
  <div class='section'>
    other-links
  </div>
</div>
<!--  -->
{% include page_index_lookbook.html %}
<!--  -->
{% include page_index_subscribe.html %}
<!--  -->
{% include page_index_connected.html %}
